#title {
	margin-top: 6px;
    padding: 5px;
	padding-top: 8px;
    color: #000;
	font-size: 16px;
	font-weight: bold;
}


.bold	{
    color: #000000;
    font-weight: bold;
    font-size: 12pt;
}
.label {
    font-size: 10pt;
}
#id_title {
	width: 400;
}
#id_desc {
	display: block;
}
/* minor */

.space {
    padding: 16px 16px;
}

thead { text-align: left; }
th { font-weight: bold; }
th a {
    color: #000000;
/*    text-decoration: none;*/
}
th a:active {
    color: #6A8AB0;
}
th a:hover {
    text-decoration: underline;
}
